@model IEnumerable<Utalca.ControlAsistencia.Curso>
    @{
        ViewBag.Title = "Detalles";
    }
<h2>Cursos Impadidos</h2>
<br />
<table  class="table table-condensed">
    <thead>
     <tr>
        <th> Curso </th>
        <th> Sección </th>
        <th> Carrera </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a href="@Url.Action("Detalles", "Curso", new { id = item.ID })">
                        <font color="black">@Html.DisplayFor(modelItem => item.Nombre)</font>
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carrera.Nombre)
                </td>
            </tr>
        }
    </tbody>
 </table>








