
@model IList<Utalca.ControlAsistencia.Participante>

    

@{
    ViewBag.Title = "Index";
}

<h2>Profesores</h2>


<ul class="nav nav-pills nav-stacked">
    @foreach (var profesor in Model)
    {
        <li>
           <a href="@Url.Action("Detalles", "Profesor", new {id=@profesor.ID})">
               <font color="black">@profesor.Nombre </font>
           </a>
           
        </li>


    }
  
   
</ul>

