
@model IList<Utalca.ControlAsistencia.Participante>

    

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul class="list-group">
    @foreach (var profesor in Model)
    {
       <li class="list-group-item">@profesor.Nombre</li>
    }
</ul>